<!doctype html>
<html lang="en" data-ng-app="phonecatApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <script src="/javascripts/require.js"></script>
        <script>
            require(["javascripts/dep"]);
        </script>
    </head>
    <body ng-controller="PhoneListCtrl">
        <ul>
            <li ng-repeat="phone in phones">
                [[ phone.name ]]
                <p>[[ phone.snippet ]]</p>
            </li>
        </ul>
        Current Time is: [[ time ]]
        <br />
        Title: {{ title }}
        <canvas id="myCanvas"></canvas>
    </body>
</html>